[Unit]
Description=HTTP Monitor
Requires=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ user_name }}
WorkingDirectory={{ install_dir }}
ExecStart={{ python_path }} main.py
EnvironmentFile={{ install_dir }}/.env
